<div class="con2">


	<div class="midsection">
		<div class="logo">
			<img src="https://www.google.com/images/srpr/logo11w.png" height="95" width="269" alt="logo">
		</div>

		<div class="searchbox">
			<form action="#" method"POST">
				
				<div id="bar">
					<span id="both">
						<input id="search-bar" type="text">
						<a id="mic" href="">m</a>
					</span>
				</div>
				
				<div id="buttons">
					<input class="button" type="submit" value="Google Search">
					<input class="button" type="submit" value="I'm Feeling Lucky">
				</div>
			</form>
		</div>

	</div>

	<div class="bottombar">
		<span id="bottomleft">
			<a href="https://www.google.com/intl/en/ads/?fg=1"> Advertising </a>
			<a class="bottomlink" href="https://www.google.com/services/?fg=1"> Business </a>
			<a class="bottomlink" href="https://www.google.com/intl/en/about/"> About </a>
		</span>

		<span id="bottomright">
			<a href="https://www.google.com/intl/en/policies/?fg=1"> Privacy & Terms </a>
			<a class="bottomlink" href="https://www.google.com/preferences?hl=en"> Settings </a>
		</span>

	</div>

	<!--<div class="content-box">
		<form action="#" method="POST">
			<label>Email:</label>
			<input type="text">
			<label>Password:</label>
			<input type="password">
			<a href="https://www.linkedin.com/uas/request-password-reset?session_redirect=&trk=signin_fpwd">Forgot Password?</a>

			<input type="submit" value="Sign In">
			<span>or</span>
			<a href="https://www.linkedin.com/reg/join">Join LinkedIn</a>
		</form>
	</div>-->


</div>