/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body{
	background: white;
	font-family: Arial,sans-serif;
	font-size: 13px;
	line-height: 17px;	
	color: #222;
}

//Navbar
.navbar{
	height: 60px;
	padding-left: 15px;
	padding-right: 30px;
}

#right-links{
	float: right;
}

.nav{
	height: 40px;
}

#button{
	color: #fff;
	border: 1px solid #4285f4;
	font-weight: bold;
	outline: none;
	background: -webkit-linear-gradient(top, #4387fd, #4683ea);
	padding: 0 12px;
	line-height: 28px;
	border-radius: 2px;
	font-size: 13px;
}

#matrix-wrap{
	width: 30px;
	height: 30px;
	display: inline-block;
	background: url(box_matrix.png);
	background-repeat: no-repeat;
}

#matrix{
	color: transparent;
}

ul{
	list-style-type: none;
}

li{
	display: inline;
	padding: 4px;
}

li a{
	color: #222;
	text-decoration: none;
}

li a:hover{
	color: #000;
	text-decoration: underline;
}
