// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	padding: 0;
	margin: 0;
}

.midsection {
	padding-bottom: 35px;
}

.logo{
	width: 100%;
	height: 231px;
	margin-top: 20px;
	text-align: -webkit-center;
}

.logo img{
	padding-top: 112px;
}

.searchbox{
	margin-left: 30px;
	height: 102px;
	text-align: -webkit-center;
	outline: none;
	color: #222;
}

#bar{
	background: #fff;
	border: 1px solid #cdcdcd;
	border-color: rgba(0,0,0,.15);
	height: 30px;	
	width: 572px;
	vertical-align: top;
	display: inline-block;
}

#both{
	display: inline-block;
}

#mic{
	height: 19px;
	width: 14px;
	opacity: 0.6;
	background: url(mic.gif);
	background-size: cover;
	color: transparent;
	display: inline-block;

}

#search-bar{
	display: inline-block;
	width: 543px;
	height: 27px;
	border: none;
	font-size: 16px;
}

.button{
	margin: 16px 8px;
	display: inline-block;
	padding: 0 8px;
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	border-radius: 2px;
	min-width: 54px;
	height: 29px;
	color: #444;
	border: 1px solid #dcdcdc;
	background: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
	border-color: #c6c6c6;
}


.bottombar{
	position: absolute;
	background: #f2f2f2;
	margin-top: 12px;
	border-top: 1px solid #e4e4e4;
	font-size: small;
	line-height: 40px;
	width: 100%;
	height: 35px;
	color: #666;
	display: block;
	bottom: 0;
	left: 0;
	right: 0;
}

#bottomleft{
	margin-left: 30px;
	float: left;
	white-space: nowrap;

}

#bottomright{
	float:right;
	white-space: nowrap;
	margin-right: 30px;
}


#bottomleft a, #bottomright a{
	text-decoration:none;
	color: #666;
}

#bottomleft a:hover, #bottomright a:hover{
	text-decoration: underline;
}

.bottomlink{
	padding: 0 0 0 27px;
}

.content{
	position: relative;
	width: 974px;
	margin-right: auto;
	padding: 10px;
}
