<!DOCTYPE html>
<html>
<head>
  <title>TestApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">

	<ul class="nav">
		<div id="right-links">
			<li><a class="nav-link" href="https://mail.google.com/mail/u/0/?tab=wm#inbox">Mail</a></li>
			<li><a class="nav-link" href="https://www.google.com/imghp?hl=en&tab=wi&ei=TTHtUouKHKqpsAT41QE&ved=0CAMQqi4oAQ">Images</a></li>
			<div id="matrix-wrap">
				<li><a id="matrix" href="">pic</a></li>
			</div>
			<li><input id="button" type="submit" value="Sign in"></li>
		</div>
	</ul>
</div>


<%= yield %>

</body>
</html>
